body {
    font-family: Unicorn, "Monocraft", sans-serif;
    background: #f7f9fa;
    width: 260px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.08);
}

h1 {
    margin: 0 0 10px 0;
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
    color: #222;
}

button {
    font-family: "Monocraft", sans-serif;
    font-size: 16px;
    font-weight: 600;

    background: #577bf0;

    width: 100%;

    padding: 14px;
    margin-bottom: 10px;
    border: none;
    color: white;

    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
    background: #2c3799;
    border-color: #7b42ff;
    box-shadow: 0 0 8px #85e7ff;
}

button:active {
    transform: scale(0.97);
}

label {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 4px;
    display: block;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 14px 0;
}

select {
    font-family: "Monocraft", sans-serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


.highContrast {
    background: black !important;
    color: yellow !important;
    font-size: 1.1em;
}